{% extends 'base.html' %}

{% block content %}

<section class="container">
    <h1 class="subheader text-center">Your List</h1>
    <div class="message-area">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="{{ category }}" style="text-align: center; font-size: 18px;"> {{ message }} </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <div class="list-wrapper">
        <form action="{{ url_for('update') }}" method="post" onsubmit="deleteEmptyRow()" name="listform">
            {{ form.csrf_token }}
            <div class="message-area message-text-center">
                {% for error_message in error_messages %}
                {{ error_message }}<br>
                {% endfor %}
            </div>
            <table id="table" class="unstriped">
                <thead>
                    <tr>
                        <th class="rank">Rank</th>
                        <th class="content">Content</th>
                        <th class="comment">Comment</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rank, content, comment in zip(form.rank, form.content, form.comment) %}
                    <tr>
                        <td>{{ rank(size=5, type="number", class="input-text") }}</td>
                        <td>{{ content(maxlength=80, class="input-text") }}</td>
                        <td>{{ comment(maxlength=255, class="input-text") }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="button" id="editButton" class="button radius" onclick="editMode()">Edit</button>
            <button type="button" id="addRowButton" class="button radius" onclick="addRow()">+</button>
            <button type="button" id="cancelButton" class="button radius" onclick="showConfirm()">Cancel</button>
            <span id="doneButton">{{ form.submit(class_="button done-button radius") }}</span>
        </form>
    </div>
</section>

<script src="../static/common.js"></script>
<script src="../static/tier-list-maker.js"></script>

{% endblock %}